<footer class="htm-footer">
    <section class="htm-footer-ribbon">
        <div class="htm-footer-logo">
            <img class="htm-footer-logo-image" alt="HTM" src="assets/icons/logo-transparent.png">
        </div>
        <div class="htm-footer-links">
            <ul>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Conditions Générales d'Utilisation</a></li>
                <li><a href="#">Conditions Générales de Ventes</a></li>
            </ul>
        </div>
        <div class="htm-footer-copyright">
            <p>Powered by HTM-Lebreton &copy; 2018. Siret 83050918800017</p>
        </div>    
    </section>
</footer>