<div id="htm-component-contact">
    <section class="mat-typography htm-component-headline">
        <h1>Contactez-Nous</h1>
        <p>
            Pour nous contacter, remplissez le formulaire ci-dessous
        </p>
    </section>

    <section class="htm-component-content" htmFlexDirection>
        
        <htm-contact-form></htm-contact-form>
        
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-icon mat-list-icon>home</mat-icon>
                <p mat-line>Chemin des Saurins Senas 13560, PACA</p>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon mat-list-icon>phone</mat-icon>
                <p mat-line>0 762 637 887</p>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-icon mat-list-icon>local_post_office</mat-icon>
                <a mat-button routerLink=".">support@htm-lebreton.fr</a>
            </mat-list-item>
        </mat-list>

    </section>
</div>
