<div id="htm-component-presentation">
    <section class="htm-component-content">
        <h2 class="mat-h2">HTM-LEBRETON</h2>

        <p>
            Notre activité principale&nbsp;: les Travaux de bricolage, généralement dénommée <i>Homme Toutes Mains</i>.<br>
            L'entreprise se positionne en tant que prestataire de services à la personne.<br>
            Notre souhait est de vous faciliter la vie en nous confiant des tâches à effectuer dans votre propriété, quel que soit le type de logement et de jardin.<br>
            Notre déclaration fiscale vous permet de bénéficier d'avantages fiscaux.<br>
            Nous effectuons accessoirement les travaux d'entretien des jardins et potagers.<br>
            Nous travaillons exclusivement avec des particuliers, que vous soyez propriétaire d'appartement, de maison ou locataire.
        </p>
        <p>
            <small>Nous excluons toutes prestations qui dépendent de l’article. 
                <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?cidTexte=LEGITEXT000006071367&amp;idArticle=LEGIARTI000006585196&amp;dateTexte=29990101&amp;categorieLien=cid">L.722-3 du code rural</a>
            </small>
            <br>
            <small>Nos travaux de bricolage sont règlementés par l'article.
                <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000018521220&amp;cidTexte=LEGITEXT000006072050&amp;dateTexte=20080501">D7233-5 du code du travail</a>
            </small>
        </p>                      
    </section>
</div>