.htm-viewer-title {
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    color:rgba(0,0,0,.54);
    background:rgba(0,0,0,.03);line-height: 40px;
}
.htm-viewer-title-spacer {
    flex: 1 1 auto;
}